# Visual studio stuff
.vs/
*.VC.opendb
*.VC.db
# Build outputs
bin/
build/
dist/
Debug/
Release/
ipch/
*.class
MyoBot_Java/src/myobot/bridge/myo/myobot_bridge_myo_Myo.h
# Include MyoBot/bin however
!/bin/
# Logs
*.log